@{ Layout = "../Shared/_Layout.cshtml"; }

@section Styles{
    <style>
        #tabstrip h2 {
            font-weight: lighter;
            font-size: 5em;
            line-height: 1;
            padding: 0 0 0 30px;
            margin: 0;
        }

            #tabstrip h2 span {
                background: none;
                padding-left: 5px;
                font-size: .3em;
                vertical-align: top;
            }

        #tabstrip p {
            margin: 0;
            padding: 0;
        }
    </style>
    <style>
        #descTextarea {
            padding: 5px 2px;
        }

        .btn-save {
            margin-top: 3px;
        }

        .btn-action {
            text-align: center;
            margin-top: 5px;
        }

        #tabstrip .k-content {
            height: 45em;
        }
    </style>
}
<section id="mnshop-blog">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Revenue, Hit Rate & Deals -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Posts</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        @*<div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <button type="button" class="btn btn-glow btn-round btn-bg-gradient-x-red-pink ac-blog-add">
                                            Add
                                        </button>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body p-0 pb-0">
                            <div id="example">

                                <div class="demo-section k-content ">
                                    <ul class="fieldlist edit-area" id="data-edit">
                                        <li style=" float: left; margin-right: 3em;">
                                            <input type="radio" name="PostType" id="FontType" class="k-radio" checked="checked" value="0">
                                            <label class="k-radio-label" for="FontType">Font</label>
                                        </li>
                                        <li style=" float: left; margin-right: 3em;">
                                            <input type="radio" name="PostType" id="TemplateFontType" class="k-radio" value="1">
                                            <label class="k-radio-label" for="TemplateFontType">Template font</label>
                                        </li>
                                        <li>
                                            <input name="Id" hidden />
                                            <input type="text" name="FontName" placeholder="Tên font" class="k-textbox" style="width: 100%;" />
                                            <div class="clearfix" style=" margin: 5px;"></div>
                                            <textarea name="FontSign" id="simple-textarea" class="k-textbox" style="width: 100%;padding-left: 10px;" placeholder="Ký tự font"></textarea>
                                            <div class="btn-action">
                                                <button class="k-button k-primary save-font" id="btn-save"><i class="k-icon k-i-save"></i>&nbsp;Lưu</button>
                                                <label class="info-action"></label>
                                            </div>
                                        </li>
                                    </ul>
                                    <div id="tabstrip" style="height:50em">
                                        <ul>
                                            <li class="k-state-active">
                                                Cài đặt font
                                            </li>
                                            <li>
                                                Font mẫu
                                            </li>
                                        </ul>
                                        <div>
                                            <ul class="fieldlist content-area">
                                            </ul>
                                            <style>
                                                .fieldlist {
                                                    margin: 0 0 -2em;
                                                    padding: 0;
                                                }

                                                    .fieldlist li {
                                                        list-style: none;
                                                        padding-bottom: 2em;
                                                    }

                                                    .fieldlist label {
                                                        display: block;
                                                        padding-bottom: 1em;
                                                        font-weight: bold;
                                                        text-transform: uppercase;
                                                        font-size: 12px;
                                                        color: #444;
                                                    }
                                            </style>
                                        </div>
                                        <div>
                                            <ul class="fieldlist content-template-area">
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                                <script>
                                    $(document).ready(function () {
                                        $("#tabstrip").kendoTabStrip({
                                            animation: {
                                                open: {
                                                    effects: "fadeIn"
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<environment include="Development">
    @section Scripts{        
        <script src="~/js/page/tool.js"></script>
    }
</environment>
<environment include="Production">
    @section Scripts{
        <script src="~/js/page/tool.js"></script>
    }
</environment>