section.mnshop-blog-modify .btn.picture-path {
  cursor: pointer; }

section.mnshop-blog-modify a.category-item {
  border: 1px solid #808080;
  border-radius: 10px;
  margin: 2px;
  padding: 5px;
  display: inline-block; }

section.mnshop-blog-modify a.category-item.active {
  background-color: #0e84e8;
  color: aliceblue; }

section#mnshop-blog-add .form {
  display: block;
  margin-top: 0em; }

section#mnshop-blog-add table.k-editor {
  height: 750px; }

section#mnshop-blog-edit .form {
  display: block;
  margin-top: 0em; }

section#mnshop-blog-edit table.k-editor {
  height: 750px; }
