#mnshop-product-add * {
  box-sizing: border-box; }

#mnshop-product-add .form-control {
  padding: revert;
  padding-left: 8px; }

#mnshop-product-add .btn {
  cursor: pointer; }

#mnshop-product-add .mnshop-category-content a {
  border: 1px solid #808080;
  border-radius: 10px;
  margin: 2px;
  padding: 5px;
  display: inline-block; }

#mnshop-product-add .mnshop-category-content a.active {
  background-color: #0e84e8;
  color: aliceblue; }
