#mnshop-product img {
  border-radius: 8px;
  width: 50px;
  height: 50px; }

#mnshop-product .mnshop-product-image .image-tag {
  position: absolute; }
  #mnshop-product .mnshop-product-image .image-tag img {
    position: relative;
    max-width: 20px;
    max-height: 20px; }

#mnshop-product .mnshop-category-content a {
  border: 1px solid #808080;
  border-radius: 10px;
  margin: 2px;
  padding: 5px;
  display: inline-block; }

#mnshop-product .mnshop-category-content a.active {
  background-color: #0e84e8;
  color: aliceblue; }

#mnshop-product .mnshop-category-content {
  margin-bottom: 5px; }

#mnshop-product .mshop-filter {
  margin: 1rem; }
