#mnshop-product {
    img {
        border-radius: 8px;
        width: 50px;
        height: 50px;
    }

    .mnshop-product-image {
        .image-tag {
            position: absolute;

            img {
                position: relative;
                max-width: 20px;
                max-height: 20px;
            }
        }
    }

    .mnshop-category-content {
        a {
            border: 1px solid #808080;
            border-radius: 10px;
            margin: 2px;
            padding: 5px;
            display: inline-block;
        }

        a.active {
            background-color: #0e84e8;
            color: aliceblue;
        }
    }

    .mnshop-category-content{
        margin-bottom: 5px;
    } 
    .mshop-filter {
        margin: 1rem;
    }
}
