#mnshop-product {
    img {
        border-radius: 8px;
        width: 50px;
        height: 50px;
    }

    .mnshop-product-image {
        .image-tag {
            position: absolute;

            img {
                position: relative;
                max-width: 20px;
                max-height: 20px;
            }
        }
    }

    .mnshop-category-content {
        a {
            border: 1px solid #808080;
            border-radius: 10px;
            margin: 2px;
            padding: 5px;
            display: inline-block;
        }

        a.active {
            background-color: #0e84e8;
            color: aliceblue;
        }
    }

    .mnshop-category-content{
        margin-bottom: 5px;
    } 
    .mshop-filter {
        margin: 1rem;
    }
}
.mnshop-category-content {
    position: relative;

    .parent-category {
        span {
            left: 1.5em;
            top: -0.6em;
            border: 1px solid #ccc;
            padding: 0px 1em;
            border-radius: 0.8em;
            background: lightgray;
            color: white;
            font-weight: 600;
        }

        .items {
            border: 1px solid #ccc;
            padding: 1em 1.5em 0.5em;
            border-radius: 0.8em;
            width: 100%;

            .item {
                float: left;
                margin: 0.2em;
                padding: 0.3em;
                border: 1px solid #aaa;
                border-radius: .6em;
            }

            .item:hover {
                cursor: pointer;
                border-color: #217aee;
                color: #217aee;
            }

            .item.active {
                background-color: #217aee;
                color: white;
            }

            display: inline-block;
        }
    }
}