@{
    Layout = null;
}
<div class="card" id="mnshop-product-add">
    <div class="card-content collapse show">
        <div class="card-body">            
            <div class="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <i class="ft-flag"></i> Product Info
                    </h4>
                    <div class="form-group">
                        <label for="productName">Name</label>
                        <input type="text" class="form-control" placeholder="Product name" name="Name" required validate-message-required="Please a product name!">
                    </div>
                    <div class="form-group">
                        <label for="companyinput8">Description</label>
                        <textarea rows="5" class="form-control" name="Description" placeholder="Product description"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="input-group">                            
                            <input type="text" class="form-control" name="Picture" placeholder="Link image">
                            <div class="input-group-prepend">
                                <span class="btn btn-outline-info input-group-text" 
                                      onclick="productAddIndex.clickEvent(this)" data-ename="productAddConst.chooseImage">Choose image</span>
                            </div>
                        </div>
                    </div>
                    <div id="filemanager"></div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" onclick="productAddIndex.clickEvent(this)" data-ename="productAddConst.save">
                        <i class="la la-check-square-o"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>