@{
    Layout = null;
}
@using MiniShop.App;
@model ProductDto;
<div class="card" id="mnshop-product-edit">
    <div class="card-content collapse show">
        <div class="card-body">            
            <div class="form">
                <input hidden name="Id" value="@Model.Id" />
                <div class="form-body">
                    <h4 class="form-section">
                        <i class="ft-flag"></i> Product Info
                    </h4>
                    <div class="form-group">
                        <label for="productName">Name</label>
                        <input type="text" class="form-control" placeholder="Product name" name="Name" required validate-message-required="Please a product name!" value="@Model.Name">
                    </div>                    
                    <div class="form-group">
                        <label for="companyinput8">Description</label>
                        <textarea rows="5" class="form-control" name="Description" placeholder="Product description" value="@Model.Description">@Model.Description</textarea>
                    </div>
                </div>

                <div class="form-actions">                   
                    <button class="btn btn-primary" onclick="productEditIndex.clickEvent(this)" data-ename="productEditConst.save">
                        <i class="la la-check-square-o"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>