:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
}
#mshop-tool-post {
    .fh5co-nav {
        height: 75px;
    }

    .mshop-tool-post.content {
        margin-top: 5px;
    }

    .button-action {
        margin-top: 5px;
    }

    .btn-add-template {
        float: right;
        margin-right: 10px;
    }

    .btn-add-template:hover {
        cursor: pointer;
        font-weight: 600;
    }

    .mshop-tool-post.tool, .mshop-tool-post.template {
        /* List */
        ul {
            counter-reset: index;
            padding: 0;
            /*max-width: 300px;*/
        }
        /* List element */
        li {
            counter-increment: index;
            display: flex;
            align-items: center;
            padding: 12px 0;
            box-sizing: border-box;
        }

        li:hover {
            cursor: pointer;
            background-color: #2984cf;
            border-radius: 1em;
            font-weight: 600;
            color: #dee9f2;
        }
        /* Element counter */
        li::before {
            content: counters(index, ".", decimal-leading-zero);
            font-size: 1.5rem;
            text-align: right;
            font-weight: bold;
            min-width: 50px;
            padding-right: 12px;
            font-feature-settings: "tnum";
            font-variant-numeric: tabular-nums;
            align-self: flex-start;
            background-image: linear-gradient(to bottom, aquamarine, orangered);
            background-attachment: fixed;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        /* Element separation */
        li + li {
            border-top: 1px solid rgba(255,255,255,0.2);
        }
    }

    span.copy-status {
        padding: 0.5em;
        border: 1px solid #ccc;
        border-radius: 2em;
        width: 10em;
        text-align: center;
        height: 2.5em;
        color: white;
        background-color: #12961e;
        font-weight: 600;
    }

    label.font-info {
        border: 1px solid #ccc;
        width: 100%;
        text-align: center;
        margin-top: 0.75em;
        height: 3em;
        padding-top: 0.7em;
        border-radius: 1em 1em;
        background: #0a3a62;
        color: white;
    }

    label.font-template {
        border: 1px solid #ccc;
        width: 100%;
        text-align: center;
        margin-top: 0.75em;
        height: 3em;
        padding-top: 0.7em;
        border-radius: 1em 1em;
        background: #0a3a62;
        color: white;
    }

    .font-change-case {
        margin: 0;
        /*background: #1e90ff;*/
        /*height: 100vh;*/
        display: -ms-flexbox;
        display: box;
        display: flex;
        -o-box-pack: center;
        /*justify-content: center;*/
        -o-box-align: center;
        align-items: center;

        button {
            background-color: #fff;
            border: 0;
            outline: 0;
            /*   padding: 1.5rem 2rem;
            font-size: 2.5rem;*/
            font-family: monospace;
            box-shadow: 0px 5px 10px #0057ab;
            transition: all 0.3s;
            cursor: pointer;
            border-radius: 5px;
            border-bottom: 4px solid #d9d9d9;
            margin: 5px
        }

        button:hover {
            box-shadow: 0px 15px 25px -5px #0057ab;
            transform: scale(1.03);
        }

        button:active {
            box-shadow: 0px 4px 8px #0065c8;
            transform: scale(0.98);
        }
    }

    .caption-emoji {
        height: 4.5em;

        span.emoji-nearest {
            position: absolute;
            background-color: #f9fafd;
            border-radius: 1em;

            p:first-child {
                margin-left: 5px;
            }

            p {
                position: relative;
                display: block;
                width: 32px;
                height: 32px;
                margin: 6px;
                padding: 0;
                border: 4px solid #f9fafd;
                border-radius: 3px;
                background-color: #f9fafd !important;
                background-image: inherit;
                background-size: auto 24px !important;
                background-position: center center;
                background-repeat: no-repeat;
                font-size: 0;
                color: transparent;
                color: transparent;
                line-height: 0;
                float: left;
                cursor: pointer;
            }
        }
    }

    .mshop-tool-post.template {
        $base-duration: 0.25s;

        // Colors
        $primary: #1bb111;
        $accent: tomato;
        $white: whitesmoke;
        $green: #2ecc71;
        $red: #e74c3c;

        // Breakpoints
        $sm: 20rem;
        $med: 48rem;
        $lg: 64rem;

        *, *:before, *:after {
            box-sizing: border-box;
            outline: none;
        }

        button {
            cursor: pointer;
        }

        .pdfobject-container {
            height: 30rem;
            border: 1rem solid rgba(0,0,0,.1);
        }

        .trigger {
            margin: 0 0.75rem;
            padding: 0.625rem 1.25rem;
            border: none;
            border-radius: 0.25rem;
            box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
            transition: all $base-duration cubic-bezier(.25,.8,.25,1);
            font-size: 0.875rem;
            font-weight: 300;

            i {
                margin-right: 0.3125rem;
            }

            &:hover {
                box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.625rem 0.625rem rgba(0,0,0,0.22);
            }
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 0vh;
            background-color: transparent;
            overflow: hidden;
            transition: background-color $base-duration ease;
            z-index: 9999;

            &.open {
                position: fixed;
                width: 100%;
                height: 100vh;
                background-color: rgba(0,0,0,0.5);
                transition: background-color $base-duration;

                > .content-wrapper {
                    transform: scale(1.0);
                }
            }

            .content-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 50%;
                margin: 0;
                padding: 2.5rem;
                background-color: white;
                border-radius: 0.3125rem;
                box-shadow: 0 0 2.5rem rgba(0,0,0,0.5);
                transform: scale(0.0);
                transition: transform $base-duration;
                transition-delay: 0.15s;

                .close {
                    position: absolute;
                    top: 0.5rem;
                    right: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    border: none;
                    background-color: transparent;
                    font-size: 1.5rem;
                    transition: $base-duration linear;

                    &:before, &:after {
                        position: absolute;
                        content: '';
                        width: 1.25rem;
                        height: 0.125rem;
                        background-color: black;
                    }

                    &:before {
                        transform: rotate(-45deg);
                    }

                    &:after {
                        transform: rotate(45deg);
                    }

                    &:hover {
                        transform: rotate(360deg);

                        &:before, &:after {
                            background-color: $accent;
                        }
                    }
                }

                .modal-header {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0;
                    padding: 0 0 1.25rem;

                    h2 {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }

                .content {
                    position: relative;
                    display: flex;

                    p {
                        font-size: 0.875rem;
                        line-height: 1.75;
                    }
                }

                .modal-footer {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    margin: 0;
                    padding: 1.875rem 0 0;

                    .action {
                        position: relative;
                        margin-left: 0.625rem;
                        padding: 0.625rem 1.25rem;
                        border: none;
                        background-color: $primary !important;
                        border-radius: 0.25rem;
                        color: white;
                        font-size: 0.87rem;
                        font-weight: 300;
                        overflow: hidden;
                        z-index: 1;

                        &:before {
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            width: 0%;
                            height: 100%;
                            background-color: rgba(255,255,255,0.2);
                            transition: width $base-duration;
                            z-index: 0;
                        }

                        &:first-child {
                            background-color: $green;
                        }

                        &:last-child {
                            background-color: $red;
                        }

                        &:hover {
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .content {


                .form-field {
                    display: block;
                    width: 100%;
                    padding: 8px 16px;
                    line-height: 25px;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: inherit;
                    border-radius: 6px;
                    -webkit-appearance: none;
                    color: var(--input-color);
                    border: 1px solid var(--input-border);
                    background: var(--input-background);
                    transition: border .3s ease;

                    &::placeholder {
                        color: var(--input-placeholder);
                    }

                    &:focus {
                        outline: none;
                        border-color: var(--input-border-focus);
                    }
                }

                .form-group {
                    position: relative;
                    display: flex;
                    width: 100%;

                    & > span,
                    .form-field {
                        white-space: nowrap;
                        display: block;

                        &:not(:first-child):not(:last-child) {
                            border-radius: 0;
                        }

                        &:first-child {
                            border-radius: 6px 0 0 6px;
                        }

                        &:last-child {
                            border-radius: 0 6px 6px 0;
                        }

                        &:not(:first-child) {
                            margin-left: -1px;
                        }
                    }

                    .form-field {
                        position: relative;
                        z-index: 1;
                        flex: 1 1 auto;
                        width: 1%;
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    & > span {
                        text-align: center;
                        padding: 8px 12px;
                        font-size: 14px;
                        line-height: 25px;
                        color: var(--group-color);
                        background: var(--group-background);
                        border: 1px solid var(--group-border);
                        transition: background .3s ease, border .3s ease, color .3s ease;
                    }

                    &:focus-within {
                        & > span {
                            color: var(--group-color-focus);
                            background: var(--group-background-focus);
                            border-color: var(--group-border-focus);
                        }
                    }
                }
                /*html {
                box-sizing: border-box;
                -webkit-font-smoothing: antialiased;
            }*/
                * {
                    box-sizing: inherit;

                    &:before,
                    &:after {
                        box-sizing: inherit;
                    }
                }
                // Center
                /*min-height: 100vh;*/
                box-sizing: border-box;
                -webkit-font-smoothing: antialiased;
                font-family: 'Mukta Malar', Arial;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                /*background: #F5F9FF;*/
                width: 100%;

                .form-group {
                    max-width: 360px;

                    &:not(:last-child) {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

#fh5co-post-feedback {
    @import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700,800,900");
    @import url("https://fonts.googleapis.com/css?family=Forum");
    @import url("https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Marcellus|Nanum+Myeongjo:400,700,800|Old+Standard+TT:400,400i,700|Prata|Vidaloka");
    margin: 1em;

    .container {
        background: #F0F0F0;
        margin: 0;
        color: white;
    }

    .subscribe-box {
        background: #2bb24c;
        font-family: "Gothic A1", serif;
        padding: 6em 0;
        text-align: center;
        width: 110em;
    }

    .subscribe-box h2 {
        margin: 0 0 0.85em 0;
        font-weight: 100;
        font-size: 30px;
        font-family: "Marcellus", serif;
    }

    .subscribe-box .subscribe {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .subscribe-box .subscribe input {
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 1px solid;
        padding: 1em 0 0.8em;
        /*text-align: center;*/
        font-size: 18px;
        font-family: inherit;
        font-weight: 300;
        line-height: 1.5;
        color: inherit;
        outline: none;
    }

    .subscribe-box .subscribe input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .subscribe-box .subscribe input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .subscribe-box .subscribe input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .subscribe-box .subscribe button {
        all: unset;
        margin-top: 2.4em;
        background: transparent;
        border: 2px solid white;
        padding: 1em 4em;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        position: relative;
        transition: all 300ms ease;
    }

    .subscribe-box .subscribe button span {
        display: inline-block;
        transition: all 300ms ease;
    }

    .subscribe-box .subscribe button:before, .subscribe-box .subscribe button:after {
        content: "";
        display: block;
        position: absolute;
        transition: all 300ms ease;
        opacity: 0;
    }

    .subscribe-box .subscribe button:before {
        height: 7px;
        width: 7px;
        background: transparent;
        border-right: 2px solid;
        border-top: 2px solid;
        right: 30px;
        top: 21px;
        transform: rotate(45deg);
    }

    .subscribe-box .subscribe button:after {
        background: white;
        height: 2px;
        width: 50px;
        left: 0;
        top: 1.49em;
    }

    .subscribe-box .subscribe button:hover span {
        transform: translateX(-10px);
    }

    .subscribe-box .subscribe button:hover:before {
        opacity: 1;
    }

    .subscribe-box .subscribe button:hover:after {
        width: 14px;
        opacity: 1;
        transform: translateX(160px);
    }
}
