
@using MiniShop.App
@*@model Tuple<InfoServerConfig, BlogDto, ICollection<ProductDto>>;
    @{
        var metaData = new MetaTagDto()
        {
            Title = Model.Item2.Title,
            Description = Model.Item2.DescriptionShort,
            Keywords = "sinh ly, phu khoa, man duc, co be, phuc hoi, tang kha nang, lam dep, phu nu, duong vat, am ho, ...",
            FacebookMeta = new FacebookMetaTag()
            {
                Description = Model.Item2.DescriptionShort,
                Title = Model.Item2.Title,
                SiteName = Model.Item1.DomainName,
                Image = $"{Model.Item1.HostName}{Model.Item1.FileRootPath}/{Model.Item2.PicturePath}",
                Url = "hanglink.info"
            },
            TwitterMeta = new TwitterMetaTag()
            {
                Url = "hanglink.info",
                Title = Model.Item2.DescriptionShort,
                Image = $"{Model.Item1.HostName}{Model.Item1.FileRootPath}/{Model.Item2.PicturePath}",
                Card = Model.Item1.DomainName
            }
        };
    }
    @section metaTag{
        <partial name="../Shared/_metaTag.cshtml" model="metaData" />
    }*@
@section stylesheets{
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link href="~/lib/chameleon-admin/app-assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/chameleon-admin/app-assets/css/bootstrap-extended.min.css" rel="stylesheet" />
    @*For mshop-blog-ads-client*@
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css'>

    <link href="~/css/client/posts.css" rel="stylesheet" />
}

<partial name="../Home/_nav.cshtml" />
<div class="row" id="mshop-tool-post">
    <div id="fh5co-post-history" class="col-3 mshop-tool-post history">
        <div class="container">
            history
        </div>
    </div>
    <div id="fh5co-post-content" class="col-5 mshop-tool-post content">
        <div class="container">
            <div class="row content-edit">
                <textarea rows="20" class="form-control">Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet </textarea>
            </div>
            <div class="row button-action">
                <button class="btn btn-primary">Copy</button>
            </div>
        </div>
    </div>
    <div id="fh5co-post-tool" class="col-4 mshop-tool-post tool">
        <div class="container">
            <ul>
                <li>Lorem dolor amet sit </li>
                <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet </li>
                <li>Lorem ipsum dolor sit amet consecutor</li>
            </ul>
        </div>
    </div>
</div>

<environment include="Development">
    @section Scripts{
        <script>
            (function () {

                //----------------------------------DEFINE----------------------------
                var assetFonts = [
                    "0123456789 aáàạảãăắằặẳẵâấầậẩẫbcdđeéèẹẻẽêếềệểễghiíìịỉĩklmnoóòọỏõôốồộổỗơớờợởỡpqrstuúùụủũưứừựửữvxyýỳỵỷỹAÁÀẠẢÃĂẮẰẶẲẴÂẤẦẬẨẪBCDĐEÉÈẸẺẼÊẾỀỆỂỄGHIÍÌỊỈĨKLMNOÓÒỌỎÕÔỐỒỘỔỖƠỚỜỢỞỠPQRSTUÚÙỤỦŨƯỨỪỰỬỮVXYÝỲỴỶỸ",
                    //bold serif
                    "𝐧𝐨𝐨́𝐨̀𝐨̣𝐨̉𝐨̃𝐨̂𝐨̂́𝐨̂̀𝐨̣̂𝐨̂̉𝐨̂̃𝐨̛𝐨̛́𝐨̛̀𝐨̛̣𝐨̛̉𝐨̛̃𝐩𝐪𝐫𝐬𝐭𝐮𝐮́𝐮̀𝐮̣𝐮̉𝐮̃𝐮̛𝐮̛́𝐮̛̀𝐮̛̣𝐮̛̉𝐮̛̃𝐯𝐱𝐲𝐲́𝐲̀𝐲̣𝐲̉𝐲̃𝐀𝐀́𝐀̀𝐀̣𝐀̉𝐀̃𝐀̆𝐀̆́𝐀̆̀𝐀̣̆𝐀̆̉𝐀̆̃𝐀̂𝐀̂́𝐀̂̀𝐀̣̂𝐀̂̉𝐀̂̃𝐁𝐂𝐃Đ𝐄𝐄́𝐄̀𝐄̣𝐄̉𝐄̃𝐄̂𝐄̂́𝐄̂̀𝐄̣̂𝐄̂̉𝐄̂̃𝐆𝐇𝐈𝐈́𝐈̀𝐈̣𝐈̉𝐈̃𝐊𝐋𝐌𝐍𝐎𝐎́𝐎̀𝐎̣𝐎̉𝐎̃𝐎̂𝐎̂́𝐎̂̀𝐎̣̂𝐎̂̉𝐎̂̃𝐎̛𝐎̛́𝐎̛̀𝐎̛̣𝐎̛̉𝐎̛̃𝐏𝐐𝐑𝐒𝐓𝐔𝐔́𝐔̀𝐔̣𝐔̉𝐔̃𝐔̛𝐔̛́𝐔̛̀𝐔̛̣𝐔̛̉𝐔̛̃𝐕𝐗𝐘𝐘́𝐘̀𝐘̣𝐘̉𝐘̃",
                    //Bold(sans)
                    "𝟬𝟭𝟮𝟯𝟰𝟱𝟲𝟳𝟴𝟵 𝗮𝗮́𝗮̀𝗮̣𝗮̉𝗮̃𝗮̆𝗮̆́𝗮̆̀𝗮̣̆𝗮̆̉𝗮̆̃𝗮̂𝗮̂́𝗮̂̀𝗮̣̂𝗮̂̉𝗮̂̃𝗯𝗰𝗱đ𝗲𝗲́𝗲̀𝗲̣𝗲̉𝗲̃𝗲̂𝗲̂́𝗲̂̀𝗲̣̂𝗲̂̉𝗲̂̃𝗴𝗵𝗶𝗶́𝗶̀𝗶̣𝗶̉𝗶̃𝗸𝗹𝗺𝗻𝗼𝗼́𝗼̀𝗼̣𝗼̉𝗼̃𝗼̂𝗼̂́𝗼̂̀𝗼̣̂𝗼̂̉𝗼̂̃𝗼̛𝗼̛́𝗼̛̀𝗼̛̣𝗼̛̉𝗼̛̃𝗽𝗾𝗿𝘀𝘁𝘂𝘂́𝘂̀𝘂̣𝘂̉𝘂̃𝘂̛𝘂̛́𝘂̛̀𝘂̛̣𝘂̛̉𝘂̛̃𝘃𝘅𝘆𝘆́𝘆̀𝘆̣𝘆̉𝘆̃𝗔𝗔́𝗔̀𝗔̣𝗔̉𝗔̃𝗔̆𝗔̆́𝗔̆̀𝗔̣̆𝗔̆̉𝗔̆̃𝗔̂𝗔̂́𝗔̂̀𝗔̣̂𝗔̂̉𝗔̂̃𝗕𝗖𝗗Đ𝗘𝗘́𝗘̀𝗘̣𝗘̉𝗘̃𝗘̂𝗘̂́𝗘̂̀𝗘̣̂𝗘̂̉𝗘̂̃𝗚𝗛𝗜𝗜́𝗜̀𝗜̣𝗜̉𝗜̃𝗞𝗟𝗠𝗡𝗢𝗢́𝗢̀𝗢̣𝗢̉𝗢̃𝗢̂𝗢̂́𝗢̂̀𝗢̣̂𝗢̂̉𝗢̂̃𝗢̛𝗢̛́𝗢̛̀𝗢̛̣𝗢̛̉𝗢̛̃𝗣𝗤𝗥𝗦𝗧𝗨𝗨́𝗨̀𝗨̣𝗨̉𝗨̃𝗨̛𝗨̛́𝗨̛̀𝗨̛̣𝗨̛̉𝗨̛̃𝗩𝗫𝗬𝗬́𝗬̀𝗬̣𝗬̉𝗬̃",
                ];
                var obj = { 0: "𝗲̂𝗲̂́" };
                var assetObjectFonts = [
                    //bold serif
                    [
                        { 0: '𝟎' }, { 1: '𝟏' }, { 2: '𝟐' }, { 3: '𝟑' }, { 4: '𝟒' }, { 5: '𝟓' }, { 6: '𝟔' }, { 7: '𝟕' }, { 8: '𝟖' }, { 9: '𝟗' },
                        { a: '𝐚' }, { á: '𝐚́' }, { à: '𝐚̀' }, { ạ: '𝐚̣' }, { ả: '𝐚̉' }, { ã: '𝐚̃' }, { ă: '𝐚̆' }, { ắ: '𝐚̆́' }, { ằ: '𝐚̆̀' }, { ặ: '𝐚̣̆' }, { ẳ: '𝐚̆̉' }, { ẵ: '𝐚̆̃' }, { â: '𝐚̂' }, { ấ: '𝐚̂́' }, { ầ: '𝐚̂̀' }, { ậ: '𝐚̣̂' }, { ẩ: '𝐚̂̉' },
                        { ẫ: '𝐚̂̃' }, { b: '𝐛' }, { c: '𝐜' }, { d: '𝐝' }, { đ: 'đ' }, { e: '𝐞' }, { é: '𝐞́' }, { è: '𝐞̀' }, { ẹ: '𝐞̣' }, { ẻ: '𝐞̉' }, { ẽ: '𝐞̃' }, { ê: '𝐞̂' }, { ế: '𝐞̂́' }, { ề: '𝐞̂̀' }, { ệ: '𝐞̣̂' }, { ể: '𝐞̂̉' }, { ễ: '𝐞̂̃' },
                        { g: '𝐠' }, { h: '𝐡' }, { i: '𝐢' }, { í: '𝐢́' }, { ì: '𝐢̀' }, { ị: '𝐢̣' }, { ỉ: '𝐢̉' }, { ĩ: '𝐢̃' }, { k: '𝐤' }, { l: '𝐥' }, { m: 'm' }, { n: 'n' }, { o: 'o' }, { ó: 'ó' }, { ò: 'ò' }, { ọ: 'ọ' }, { ỏ: 'ỏ' },
                        { õ: 'õ' }, { ô: 'ô' }, { ố: 'ố' }, { ồ: 'ồ' }, { ộ: 'ộ' }, { ổ: 'ổ' }, { ỗ: 'ỗ' }, { ơ: 'ơ' }, { ớ: 'ớ' }, { ờ: 'ờ' }, { ợ: 'ợ' }, { ở: 'ở' }, { ỡ: 'ỡ' }, { p: 'p' }, { q: 'q' }, { r: 'r' }, { s: 's' },
                        { t: 't' }, { u: 'u' }, { ú: 'ú' }, { ù: 'ù' }, { ụ: 'ụ' }, { ủ: 'ủ' }, { ũ: 'ũ' }, { ư: 'ư' }, { ứ: 'ứ' }, { ừ: 'ừ' }, { ự: 'ự' }, { ử: 'ử' }, { ữ: 'ữ' }, { v: 'v' }, { x: 'x' }, { y: 'y' }, { ý: 'ý' },
                        { ỳ: 'ỳ' }, { ỵ: 'ỵ' }, { ỷ: 'ỷ' }, { ỹ: 'ỹ' }, { A: 'A' }, { Á: 'Á' }, { À: 'À' }, { Ạ: 'Ạ' }, { Ả: 'Ả' }, { Ã: 'Ã' }, { Ă: 'Ă' }, { Ắ: 'Ắ' }, { Ằ: 'Ằ' }, { Ặ: 'Ặ' }, { Ẳ: 'Ẳ' }, { Ẵ: 'Ẵ' }, { Â: 'Â' },
                        { Ấ: 'Ấ' }, { Ầ: 'Ầ' }, { Ậ: 'Ậ' }, { Ẩ: 'Ẩ' }, { Ẫ: 'Ẫ' }, { B: 'B' }, { C: 'C' }, { D: 'D' }, { Đ: 'Đ' }, { E: 'E' }, { É: 'É' }, { È: 'È' }, { Ẹ: 'Ẹ' }, { Ẻ: 'Ẻ' }, { Ẽ: 'Ẽ' }, { Ê: 'Ê' }, { Ế: 'Ế' },
                        { Ề: 'Ề' }, { Ệ: 'Ệ' }, { Ể: 'Ể' }, { Ễ: 'Ễ' }, { G: 'G' }, { H: 'H' }, { I: 'I' }, { Í: 'Í' }, { Ì: 'Ì' }, { Ị: 'Ị' }, { Ỉ: 'Ỉ' }, { Ĩ: 'Ĩ' }, { K: 'K' }, { L: 'L' }, { M: 'M' }, { N: 'N' }, { O: 'O' },
                        { Ó: 'Ó' }, { Ò: 'Ò' }, { Ọ: 'Ọ' }, { Ỏ: 'Ỏ' }, { Õ: 'Õ' }, { Ô: 'Ô' }, { Ố: 'Ố' }, { Ồ: 'Ồ' }, { Ộ: 'Ộ' }, { Ổ: 'Ổ' }, { Ỗ: 'Ỗ' }, { Ơ: 'Ơ' }, { Ớ: 'Ớ' }, { Ờ: 'Ờ' }, { Ợ: 'Ợ' }, { Ở: 'Ở' }, { Ỡ: 'Ỡ' },
                        { P: 'P' }, { Q: 'Q' }, { R: 'R' }, { S: 'S' }, { T: 'T' }, { U: 'U' }, { Ú: 'Ú' }, { Ù: 'Ù' }, { Ụ: 'Ụ' }, { Ủ: 'Ủ' }, { Ũ: 'Ũ' }, { Ư: 'Ư' }, { Ứ: 'Ứ' }, { Ừ: 'Ừ' }, { Ự: 'Ự' }, { Ử: 'Ử' }, { Ữ: 'Ữ' },
                        { V: 'V' }, { X: 'X' }, { Y: 'Y' }, { Ý: 'Ý' }, { Ỳ: 'Ỳ' }, { Ỵ: 'Ỵ' }, { Ỷ: 'Ỷ' }, { Ỹ: 'Ỹ' }                        
                    ],
                    [

                    ],
                ];

                //----------------------------------FUNCTION----------------------------
                function convertCharFont(indexFont,chars) {
                    let charReturn = [];
                    let charFonts = assetObjectFonts[indexFont];
                    let charFontRoots = assetFonts[0];
                    $(chars).each(function (index, item) {
                        let indexChar = charFontRoots.indexOf(item);
                        charReturn.push(charFonts[indexChar]);
                    });

                    return charReturn;
                }

                //----------------------------------EVENT----------------------------
                $('.mshop-tool-post.tool ul li').on('click', function (e) {
                    let text = $(e.target).text();
                });
                $(".mshop-tool-post.content textarea").select(function (e) {
                    let textRoot = $(e.target).text();
                    let startSelect = $(e.target)[0].selectionStart;
                    let startEnd = $(e.target)[0].selectionEnd;
                    let textSelected = textRoot.substring(startSelect, startEnd);

                    $('.mshop-tool-post.tool ul li').each(function (index, selector) {
                        let chars = textSelected.split('');
                        $(selector).text(convertCharFont(index, chars));
                    });
                });
            })();
        </script>
    }
</environment>
<environment include="Production">
    @section Scripts{

    }
</environment>

