
@using MiniShop.App
@*@model Tuple<InfoServerConfig, BlogDto, ICollection<ProductDto>>;
    @{
        var metaData = new MetaTagDto()
        {
            Title = Model.Item2.Title,
            Description = Model.Item2.DescriptionShort,
            Keywords = "sinh ly, phu khoa, man duc, co be, phuc hoi, tang kha nang, lam dep, phu nu, duong vat, am ho, ...",
            FacebookMeta = new FacebookMetaTag()
            {
                Description = Model.Item2.DescriptionShort,
                Title = Model.Item2.Title,
                SiteName = Model.Item1.DomainName,
                Image = $"{Model.Item1.HostName}{Model.Item1.FileRootPath}/{Model.Item2.PicturePath}",
                Url = "hanglink.info"
            },
            TwitterMeta = new TwitterMetaTag()
            {
                Url = "hanglink.info",
                Title = Model.Item2.DescriptionShort,
                Image = $"{Model.Item1.HostName}{Model.Item1.FileRootPath}/{Model.Item2.PicturePath}",
                Card = Model.Item1.DomainName
            }
        };
    }
    @section metaTag{
        <partial name="../Shared/_metaTag.cshtml" model="metaData" />
    }*@
@section stylesheets{
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link href="~/lib/chameleon-admin/app-assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/chameleon-admin/app-assets/css/bootstrap-extended.min.css" rel="stylesheet" />
    @*For mshop-blog-ads-client*@
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css'>

    <style>
        .fh5co-nav {
            height: 75px;
        }
        .mshop-tool-post.content {
            margin-top: 5px;
        }
        .button-action {
            margin-top: 5px;
        }
    </style>
}

<partial name="../Home/_nav.cshtml" />
<div class="row">
    <div id="fh5co-post-history" class="col-3 mshop-tool-post history">
        <div class="container">
            history
        </div>
    </div>
    <div id="fh5co-post-content" class="col-5 mshop-tool-post content">
        <div class="container">
            <div class="row content-edit">
                <textarea rows="20" class="form-control"></textarea>
            </div>
            <div class="row button-action">
                <button class="btn btn-primary">Copy</button>
            </div>           
        </div>
    </div>
    <div id="fh5co-post-tool" class="col-4 mshop-tool-post tool">
        <div class="container">
            tool
        </div>
    </div>
</div>

<environment include="Development">
    @section Scripts{
        <script>
            (function () {
                var assetSign = " 0123456789𝘢𝘢́𝘢̀𝘢̣𝘢̃𝘢̉𝘢̆𝘢̆́𝘢̆̀𝘢̣̆𝘢̆̃𝘢̆̉𝘢̂𝘢̂́𝘢̂̀𝘢̣̂𝘢̂̃𝘢̂̉𝘣𝘤𝘥đ𝘦𝘦́𝘦̀𝘦̣𝘦̃𝘦̉𝘦̂𝘦̂́𝘦̂̀𝘦̣̂𝘦̂̃𝘦̂̉𝘨𝘩𝘪𝘪́𝘪̀𝘪̣𝘪̃𝘪̉𝘬𝘭𝘮𝘯𝘰𝘰́𝘰̀𝘰̣𝘰̃𝘰̉𝘰̂𝘰̂́𝘰̂̀𝘰̣̂𝘰̂̃𝘰̂̉𝘰̛𝘰̛́𝘰̛̀𝘰̛̣𝘰̛̃𝘰̛̉𝘱𝘲𝘴𝘵𝘶𝘶́𝘶̀𝘶̣𝘶̃𝘶̉𝘶̛𝘶̛́𝘶̛̀𝘶̛̣𝘶̛̃𝘶̛̉𝘷𝘹𝘺𝘺́𝘺̀𝘺̣𝘺̃𝘺̉𝘈𝘈́𝘈̀𝘈̣𝘈̃𝘈̉𝘈̆𝘈̆́𝘈̆̀𝘈̣̆𝘈̆̃𝘈̆̉𝘈̂𝘈̂́𝘈̂̀𝘈̣̂𝘈̂̃𝘈̂̉𝘉𝘊𝘋Đ𝘌𝘌́𝘌̀𝘌̣𝘌̃𝘌̉𝘌̂𝘌̂́𝘌̂̀𝘌̣̂𝘌̂̃𝘌̂̉𝘎𝘏𝘐𝘐́𝘐̀𝘐̣𝘐̃𝘐̉𝘒𝘓𝘔𝘕𝘖𝘖́𝘖̀𝘖̣𝘖̃𝘖̉𝘖̂𝘖̂́𝘖̂̀𝘖̣̂𝘖̂̃𝘖̂̉𝘖̛𝘖̛́𝘖̛̀𝘖̛̣𝘖̛̃𝘖̛̉𝘗𝘘𝘚𝘛𝘜𝘜́𝘜̀𝘜̣𝘜̃𝘜̉𝘜̛𝘜̛́𝘜̛̀𝘜̛̣𝘜̛̃𝘜̛̉𝘝𝘟𝘠𝘠́𝘠̀𝘠̣𝘠̃𝘠̉";
                var aFont = "";
            })();
        </script>
    }
</environment>
<environment include="Production">
    @section Scripts{

    }
</environment>

