
@using MiniShop.App
@model Tuple<ICollection<PostDto>, InfoServerConfig>;
@{
    var metaData = new MetaTagDto()
    {
        Title = "Tool soạn thảo bài viết facebook, twitter,...",
        Description = "Hỗ trợ soạn thảo bài biết sinh động, chèn symbols, ký tự đặc biệt,...",
        FacebookMeta = new FacebookMetaTag()
        {
            Title = "Tool soạn thảo bài viết facebook, twitter,...",
            Description = "Hỗ trợ soạn thảo bài biết sinh động, chèn symbols, ký tự đặc biệt,...",
            SiteName = Model.Item2.DomainName,
            Image = $"{Model.Item2.HostName}shared/img-backgrounds/edit-posts.jpg",
            Url = "hanglink.info/tool/posts"
        },
        TwitterMeta = new TwitterMetaTag()
        {
            Title = "Hỗ trợ soạn thảo bài biết sinh động, chèn symbols, ký tự đặc biệt,...",
            Image = $"{Model.Item2.HostName}shared/img-backgrounds/edit-posts.jpg",
            Card = Model.Item2.DomainName,
            Url = "hanglink.info/tool/posts"
        }
    };
}
@section metaTag{
    <partial name="../Shared/_metaTag.cshtml" model="metaData" />
}
@section stylesheets{
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link href="~/lib/chameleon-admin/app-assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/chameleon-admin/app-assets/css/bootstrap-extended.min.css" rel="stylesheet" />
    @*For mshop-blog-ads-client*@
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css'>
    <link href="~/css/client/loader-newton.min.css" rel="stylesheet" />
    <link href="~/css/client/posts.css" rel="stylesheet" />

}

<partial name="../Home/_nav.cshtml" />
<div class="row" id="mshop-tool-post">
    <div id="d-init">
        @{
            var fontStandand = Model.Item1.Where(o => o.Code == "font-chuan").FirstOrDefault();
            <div id="d-f-standand" hidden>@fontStandand.FontSign</div>

            var fonts = Model.Item1.Where(o => o.Code != "font-chuan" && o.PostType == MiniShop.EF.PostType.INPUT_TYPE).Select(o => new { FontSign = o.FontSign });
            <div id="d-f-sign" hidden>@Html.Raw(Json.Serialize(fonts))</div>

            var fontTempletes = Model.Item1.Where(o => o.Code != "font-chuan" && o.PostType == MiniShop.EF.PostType.TEMPLATE_TYPE).Select(o => new { FontSign = o.FontSign });
            <div id="d-f-sign-template" hidden>@Html.Raw(Json.Serialize(fontTempletes))</div>
        }
    </div>
    <div id="fh5co-post-history" class="col-3 mshop-tool-post template">
        <div class="container">
            <label class="font-template">Font mẫu <span title="Thêm mẫu mới"><i class="fa fa-plus btn-add-template trigger" data-modal-trigger="trigger-1"></i></span></label>
            <div class="modal" data-modal="trigger-1">
                <article class="content-wrapper">
                    <button class="close"></button>
                    <header class="modal-header">
                        <h2>Font người dùng</h2>
                    </header>
                    <div class="content">
                        <div class="form-group">
                            <span>Mẫu 1</span>
                            <input class="form-field" type="text">
                        </div>
                        <div class="form-group">
                            <span>Mẫu 2</span>
                            <input class="form-field" type="text">
                        </div>
                        <div class="form-group">
                            <span>Mẫu 3</span>
                            <input class="form-field" type="text">
                        </div>
                    </div>
                    <footer class="modal-footer">
                        <button class="action btn-save-template-user">Lưu</button>
                    </footer>
                </article>
            </div>
            <ul class="font-template-items">
            </ul>
        </div>
    </div>
    <div id="fh5co-post-content" class="col-5 mshop-tool-post content">
        <div class="container">
            <div class="gooey load-convert">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="row button-action">
                <button class="btn btn-primary" id="btn-copy">Sao chép</button>
                <span class="copy-status">Đã sao chép</span>
            </div>
            <div class="row content-edit">
                <textarea rows="20" class="form-control" autofocus></textarea>
            </div>
            <div class="font-change-case">
                <button data-a="lower-case">Viết thường</button>
                <button data-a="upper-case">Viết hoa </button>
                <button data-a="upper-character-case">Viết hoa đầu mỗi từ</button>
            </div>
            <label>Biểu tượng: </label>
            <div class="row icon-group" style="background: #fff; overflow: auto; max-height: 30em; ">
                <partial name="Posts_emoji.cshtml" />
            </div>

        </div>
    </div>
    <div id="fh5co-post-tool" class="col-4 mshop-tool-post tool">
        <div class="container">
            <label class="font-info">Chọn font</label>
            <ul>
                <li>Lorem dolor amet sit </li>
                <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet </li>
                <li>Lorem ipsum dolor sit amet consecutor</li>
            </ul>
        </div>
    </div>

    <div id="fh5co-post-feedback" class="col-4 mshop-tool-post feedback">
        <div class="container">
            <div class="subscribe-box">
                <h2>Mọi ý kiến đóng góp xin liên hệ <span style="color:darkblue">Zalo: 093 690 73 41</span></h2>
                <p>Hãy nhắn tin đừng gọi!</p>
                <h2 hidden>Ý kiến người dùng</h2>
                <div class="subscribe" id="feedback-form" hidden>
                    <input type="text" placeholder="Danh xưng các hạ" autocomplete="off" required="required" name="name" maxlength="90" />
                    <input type="text" placeholder="Nội dung đóng góp" autocomplete="off" required="required" name="description" maxlength="200" />
                    <button type="button"> <span>Gửi</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    @section Scripts{
        <script src="~/js/client/posts.js"></script>
    }
</environment>
<environment include="Production">
    @section Scripts{
        <script src="~/js/client/posts.min.js"></script>
    }
</environment>

