@{
    Layout = null;
}
    <footer id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-6 fh5co-widget">
                    <h3>Cầu nối đến sản phẩm hỗ trợ sức khỏe bạn</h3>
                    <p><strong>Chính sức khỏe mới là sự giàu có thực sự, không phải vàng và bạc</strong></p>
                    <p>(It is health that is real wealth and not pieces of gold and silver)</p>
                    <p><i>-Mahatma Gandhi</i></p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="fh5co-footer-links">
                        <li><a href="https://www.thuocbietduoc.com.vn/" target="_blank">Thuốc và Biệt dược</a></li>
                        <li><a href="http://songkhoe.vn" target="_blank">Sống khoẻ</a></li>
                        <li><a href="http://www.blogsuckhoe.com" target="_blank">Blog Sức khoẻ</a></li>
                        <li><a href="http://alobacsi.com" target="_blank">Alo Bác sĩ</a></li>
                        <li><a href="http://news.bacsi.com" target="_blank">Bacsi.com</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="fh5co-footer-links">
                        <li><a href="http://dinhduong.com.vn" target="_blank">Dinh dưỡng và Sức khoẻ</a></li>
                        <li><a href="http://www.dieutri.vn" target="_blank">Điều trị</a></li>
                        <li><a href="http://thaythuoccuaban.com" target="_blank">Thầy thuốc của bạn</a></li>
                        <li><a href="https://www.medicinenet.com" target="_blank">MedicineNet</a></li>
                        <li><a href="http://www.suckhoenhi.vn/" target="_blank">Suckhoenhi.vn</a></li>
                    </ul>
                </div>
            </div>
            <div class="row row-pb-md" style="text-align: center;">
                <div class="col-md-12">
                    <h3>hanglink.info version 0.0.2</h3>
                    <p>Mọi góp ý, đánh giá xin liên hệ <strong>hanglinkinfo@gmail.com</strong></p>                    
                </div>               
            </div>
        </div>
    </footer>