@{
    Layout = null;
}
<footer id="fh5co-footer" role="contentinfo">
    <div class="container">        
        <div class="row row-pb-md" style="text-align: center;">
            <div class="col-md-12">
                <img src="/shared/img-backgrounds/img-footer.png" style="width: 100%;">
            </div>
        </div>
    </div>
</footer>