@{ 
    Layout = null;
}
<aside id="fh5co-hero" class="js-fullheight mnshop-product-hero">
    <div class="flexslider js-fullheight">
        <ul class="slides">            
        </ul>
    </div>
</aside>