@{ 
    Layout = null;
}
<nav class="fh5co-nav mnshop-navigation" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-2">
                <div id="fh5co-logo">
                    <a href="/">
                        <img src="~/shared/Icon/logo-hanglink-info.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 text-center menu-1">
                <ul>
                    <li>
                        <a href="/san-pham">Sản phẩm</a>
                    </li>
                   
                    <li class="has-dropdown">
                        <a href="/">Tools</a>
                        <ul class="dropdown">
                            <li><a href="/tool/posts" target="_blank">Posts design</a></li>
                        </ul>
                    </li>
                    <li><a href="/blog/hang-link-info">Blog</a></li>
                </ul>
            </div> 
            <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                <ul>
                    <li class="search">
                        <div class="input-group">
                            <input type="text" placeholder="Tìm sản phẩm.." id="search-string-value">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
