@{ 
    Layout = null;
}
<nav class="fh5co-nav mnshop-navigation" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-2">
                <div id="fh5co-logo">
                    <a href="/">
                        <img src="~/shared/Icon/logo-hanglink-info.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 text-center menu-1">
                <ul>
                    <li>
                        <a href="/#fh5co-product">Sản phẩm</a>
                    </li>
                    <li><a href="/#fh5co-footer">Thông tin</a></li>
                    <li class="has-dropdown">
                        <a href="/">Tools</a>
                        <ul class="dropdown">
                            <li><a href="/tool/posts" target="_blank">Posts design</a></li>
                        </ul>
                    </li>
                    <li><a href="/blog/hang-link-info">Blog</a></li>
                </ul>
            </div>            
        </div>

    </div>
</nav>
