@{
    Layout = null;
}
<div id="fh5co-services" class="fh5co-bg-section mnshop-service-client">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 text-center">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <img src="~/shared/Icon/icon-product.png" />
                    </span>
                    <h3>Thực phẩm chức năng</h3>
                    <p>40% nam giới trong độ tuổi từ 65 đến 80 tại Mỹ vẫn duy trì quan hệ tình dục. Nhìn con số này hẳn bạn sẽ phải thốt lên “mấy ông Tây này ăn gì mà khoẻ thế?”. Thực phẩm chức năng hỗ trợ sinh lý chính là chìa khoá duy trì cuộc sống tình dục thăng hoa cho các quý ông từ lúc còn trẻ đến khi về già.</p>
                    <p><a class="btn btn-primary btn-outline service-read-more" data-group="thuc-pham-chuc-nang"><i class="fa fa-eye"> Xem sản phẩm</i></a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <img src="~/shared/Icon/icon-my-pham.png" />
                    </span>
                    <h3>Mỹ phẩm làm đẹp</h3>
                    <p>Mỹ phẩm là những chất hoặc sản phẩm được dùng để trang điểm hoặc thay đổi diện mạo hoặc mùi hương cơ thể người. Nó thường được dùng để bôi thoa vào cơ thể người nhằm tẩy sạch, tô điểm, tăng cường độ thu hút hoặc thay đổi diện mạo mà không ảnh hưởng đến cấu trúc hoặc chức năng của cơ thể. Ngoài ra, nhiều mỹ phẩm được thiết kế để sử dụng cho mặt và tóc</p>
                    <p><a class="btn btn-primary btn-outline service-read-more" data-group="my-pham"><i class="fa fa-eye"> Xem sản phẩm</i></a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <img src="~/shared/Icon/icon-dat-tri.png" />
                    </span>
                    <h3>Sản phẩm đặc trị</h3>
                    <p>Sản phẩm đặc trị dành cho phụ nữ, sản phẩm đặc trị cho da, mụn,...</p>
                    <p><a class="btn btn-primary btn-outline service-read-more" data-group="dac-tri"><i class="fa fa-eye"> Xem sản phẩm</i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>