@{
    ViewData["Title"] = "Home Page";
}
@using MiniShop.App
@model Tuple<Tuple<ICollection<ProductDto>, int>>;
@*<partial name="_nav.cshtml" />*@
<partial name="_hero.cshtml" />
@*<partial name="_service.cshtml" />*@
<partial name="_product.cshtml"/>
@*<div id="fh5co-product" class="mnshop-product-page-client"></div>*@

@*<partial name="_testimonial.cshtml" />
<partial name="_counter.cshtml" />
<partial name="_started.cshtml" />*@
