@using MiniShop.App
@model Tuple<InfoServerConfig, ICollection<BlogDto>, CounterDto>;
@{
    var metaData = new MetaTagDto()
    {
        Title = "Thực phẩm chức năng | Sản phẩm đặc trị | Sản phẩm hỗ trợ sinh lý nam giới | Sản phẩm giúp chị Em làm đẹp ",
        Description = "Cung cấp thông tin các sản phẩm từ các nguồn sản xuất chính hãng.",
        Keywords = "sinh ly, phu khoa, man duc, co be, phuc hoi, tang kha nang, lam dep, phu nu, duong vat, am ho, ...",
        FacebookMeta = new FacebookMetaTag()
        {
            Description = "Cung cấp thông tin các sản phẩm từ các nguồn sản xuất chính hãng.",
            Title = "Thực phẩm chức năng | Sản phẩm đặc trị | Sản phẩm hỗ trợ sinh lý nam giới | Sản phẩm giúp chị Em làm đẹp ",
            SiteName = Model.Item1.DomainName,
            Image = @$"{Model.Item1.HostName}/shared/img-backgrounds/pic-home.jpg",
            Url = "hanglink.info"
        },
        TwitterMeta = new TwitterMetaTag()
        {
            Url = "hanglink.info",
            Title = "Thực phẩm chức năng | Sản phẩm đặc trị | Sản phẩm hỗ trợ sinh lý nam giới | Sản phẩm giúp chị Em làm đẹp ",
            Image = @$"{Model.Item1.HostName}/shared/img-backgrounds/pic-home.jpg",
            Card = Model.Item1.DomainName
        }
    };
}
@section metaTag{
    <partial name="../Shared/_metaTag.cshtml" model="metaData" />
}
@section stylesheets{
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link href="~/css/client/blog-card.min.css" rel="stylesheet" />
}

<partial name="_nav.cshtml" />
<partial name="_hero.cshtml" />
<partial name="_service.cshtml" />
<partial name="_product.cshtml" />
@*<div id="fh5co-product" class="mnshop-product-page-client"></div>*@


@*<partial name="_testimonial.cshtml" />*@
<partial name="_counter.cshtml" model="Model.Item3" />
<partial name="_blog.cshtml" model="new Tuple<InfoServerConfig, ICollection<BlogDto>>(Model.Item1, Model.Item2)" />
<partial name="_footer.cshtml" />

<environment include="Development">
    @section Scripts{
        <script src="~/lib/pagination/pagination.js"></script>
        <!-- Page -->
        <script src="~/js/client/page-home.js"></script>
    }
</environment>
<environment include="Production">
    @section Scripts{
        <script src="~/lib/pagination/pagination.es5.min.js"></script>
        <!-- Page -->
        <script src="~/js/client/page-home.js"></script>
    }
</environment>
