@{
    Layout = null;
}
@using MiniShop.App;
@model Tuple<ICollection<CategoryDto>>;
<div class="card" id="mnshop-category-add">
    <div class="card-content collapse show">
        <div class="card-body">            
            <div class="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <i class="ft-flag"></i> Category Info
                    </h4>
                    <div class="form-group">
                        <label for="categoryName">Name</label>
                        <input type="text" class="form-control" placeholder="Category name" name="Name" required validate-message-required="Please a category name!">
                    </div>
                    <div class="form-group">
                        <label for="companyinput8">Description</label>
                        <textarea rows="5" class="form-control" name="Description" placeholder="Category description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="categoryParent">Parent</label>
                        <select class="form-control" name="ParentId">
                            <option value="" selected></option>
                            @foreach (var category in Model.Item1.Where(o=>o.ParentId == null))
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>                        
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" onclick="categoryAddIndex.clickEvent(this)" data-ename="categoryAddConst.save">
                        <i class="la la-check-square-o"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
