@{ Layout = "../Shared/_Layout.cshtml"; }

<section id="mnshop-category">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Revenue, Hit Rate & Deals -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Category</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><button type="button" class="btn btn-glow btn-round btn-bg-gradient-x-red-pink"
                                            onclick="categoryIndex.clickEvent(this)" data-ename="categoryConst.add">Add</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body p-0 pb-0">
                            <div class="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/page/category.js"></script>
    <script src="~/js/page/category-add.js"></script>
    <script src="~/js/page/category-edit.js"></script>
}