@{
    Layout = null;
}
<link href="https://adpia.vn/css/adpia_banner_style.css" rel="stylesheet" type="text/css" />
<div class="adpia_banner" style="width:300px">
    <a href="https://adpia.vn/" target="_blank" class="adpia_link"><span class="adpia_bg_hide">Ads by Adpia</span></a>
    <a href="http://click.adpia.vn/click.php?m=sendo&a=A100048463&l=0020&l_cd2=2" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/storage.adpia.vn/upload-banner/jpg/300x300_sendo.jpg" border="0" width="300" height="300"></a>
    <img src="https://img.adpia.vn/apshow.php?m_id=sendo&a_id=A100048463&p_id=0000&l_id=0020&l_cd1=G&l_cd2=2" width="1" height="1" border="0" nosave style="display:none">
</div>

<link href="https://adpia.vn/css/adpia_banner_style.css" rel="stylesheet" type="text/css" />
<div class="adpia_banner" style="width:300px">
    <a href="https://adpia.vn/" class="adpia_link"><span class="adpia_bg_hide">Ads by Adpia</span></a>
    <a href="http://click.adpia.vn/click.php?m=drtonghai&a=A100048463&l=0002&l_cd2=2"><img src="https://s3-ap-southeast-1.amazonaws.com/storage.adpia.vn/upload-banner/jpg/300x300_tmnhuhoa.jpg" border="0" width="300" height="300"></a>
    <img src="https://img.adpia.vn/apshow.php?m_id=drtonghai&a_id=A100048463&p_id=0000&l_id=0002&l_cd1=G&l_cd2=2" width="1" height="1" border="0" nosave style="display:none">
</div>

<link href="https://adpia.vn/css/adpia_banner_style.css" rel="stylesheet" type="text/css" />
<div class="adpia_banner" style="width:300px">
    <a href="https://adpia.vn/" class="adpia_link"><span class="adpia_bg_hide">Ads by Adpia</span></a>
    <a href="http://click.adpia.vn/click.php?m=holvn&a=A100048463&l=0001&l_cd2=2"><img src="https://ac.adpia.vn/upload/images/300x300_hol.png" border="0" width="300" height="300"></a>
    <img src="https://img.adpia.vn/apshow.php?m_id=holvn&a_id=A100048463&p_id=0000&l_id=0001&l_cd1=G&l_cd2=2" width="1" height="1" border="0" nosave style="display:none">
</div>